@import 'base/normalize';
@import 'base/mixins';
@import 'base/grid';
@import 'application/typography';
@import 'base/placeholders';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h5 {
	margin: 0;
}

header {
	background: lightcoral;
	h1 {
		margin:0;
		color: #fff;
	}
}

