---
---

@import 'base/normalize';
@import 'base/mixins';
@import 'base/placeholders';
@import 'application/typography';
@import 'application/objects/lists';
@import 'application/objects/buttons';
@import 'application/modules/header';
@import 'application/modules/footer';

* {
	@include border-box;
}
img {
	max-width: 100%;
	float: left;
}
figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}
.hp {
	figcaption {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		padding-top: 20%;
		background: rgba(0,0,0, .6);
		transition: background .5s ease-in-out;
		@include respond-to (640/16) {
			padding-top: 14%;
		}
	}
	h3 {
		font-size: .85rem;
		margin: 0;
		background: rgba(211, 17, 72, 0);
		display: inline-block;
		transition: all .5s ease-in-out;
		color: #f4f4f4;
		@include respond-to (640/16) {
			font-size: 1rem;
		}
		@include respond-to(960/16) {
			padding: {
				left: 2rem;
				right: 2rem;
			};
			font-size: 2.0625rem;
			@include border-radius(2);
		}
	}
	a:hover figcaption {
		@include respond-to(960/16) {
			background: rgba(0,0,0, 0);
		}
	};
	a:hover h3 {
		background: rgba(211, 17, 72, 0);
		@include respond-to(960/16) {
			background: rgba(211, 17, 72, 1);
			color: #fff;
		}
	};
}
