---
---

@import 'base/normalize';
@import 'base/mixins';
@import 'base/grid';
@import 'base/placeholders';
@import 'application/typography';
@import 'application/objects/lists';
@import 'application/objects/buttons';
@import 'application/modules/header';


* {
	@include border-box;
}
img {
	max-width: 100%;
	float:left;
}
figure {
	margin: 0;
	position: relative;
	overflow: hidden;
	figcaption {
		position: absolute;
		bottom: 0;
		background: rgba(211, 17, 72, .8);
		width: 100%;
		padding: 1rem 0;
		color: white;
		text-align: center;
	}
}
main {
	@extend %container;
	@include respond-to(60) {
		article:nth-child(2) {
			@include column-size(50);
			float:left;
		}
		article:nth-child(3) {
			@include column-size(50);
			float: right;
		}
	}
}