---
---

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
svg, img {
	max-width: 100%;
	float:left;
}
html, body {
  margin:0;
  font-size: 100%;
  font-family: sans-serif;
  font-weight: 300;
  min-width:320px;
}
b, i {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-weight: 300;
}
.btn {
	display: inline-block;
	background: transparent;
	border: 3px solid #f5f5f5;
	color: #f5f5f5;
	padding: .5em 1em;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		background: #f5f5f5;
		color: #444;
	}
}

.header-container {
	background: darken(rgba(255, 255, 255, .8), 5);
	header {
		padding: .5em 1em;
		text-align: center;
		@media screen and (min-width:45em) {
			width:100%;
			max-width: 1140px;
			padding: 1.5em 5.7em;
			margin: 0 auto;
		}
	}
	h1 {
		margin-bottom: .5em;
		@media screen and (min-width:45em) {
			float: left;
			margin-bottom: 0;
		}
	}
	nav {
		@media screen and (min-width:45em) {
			float: right;
		}
	}
	ul {
		padding:0;
		margin: 0;
		list-style-type: none;
	}
	li {
		display: inline;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: #444;
		padding: .5em .95em;
		background: darken(rgba(255, 255, 255, 1), 8);
	}
}
.main-container {
	padding: 0;
	section {
		float: left;
	}
	.pj1 {
		background: rgb(0,123,108);
	}
	
	.pj2 {
		background: rgb(211,1,72);
	}
	.pj3 {
		background: rgb(199,61,0);
	}
	
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}