---
---

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
svg, img {
	max-width: 100%;
}
html, body {
  margin:0;
  font-size: 100%;
  font-family: sans-serif;
}
b, i {
  display: block;
}
#grid {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  z-index: -1;
    
  b {
    width: 8.34%;
    background: white;
    float: left;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 0 .5%;
  }
  i {
    background: rgba(0, 0, 0, .02);
    height: 100vh;
  }
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

.header-container {
	padding: 1em 0em;
	background: darken(rgba(255, 255, 255, .8), 5);
	text-align: center;
	h1 {
		margin-bottom: .5em;
	}
	nav {
	
	}
	ul {
		padding:0;
		margin: 0;
		list-style-type: none;
	}
	li {
		display: inline;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: #444;
		padding: .5em 1em;
		background: darken(rgba(255, 255, 255, 1), 8);
	}
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}