@import 'application/objects/navigation';

header {
	margin-bottom: .5rem;
	@extend %clearfix; /* floated elements inside header */
	@include respond-to (641/16) {
			padding: .5rem 0;
			background: #f4f4f4;
	}
	div {
		text-align: center;
		@extend %container;
		@extend %clearfix;
		@include respond-to(960/16) {
			text-align: left;
		}
	}
	nav {
		@include respond-to(960/16) {
			padding: .25rem 0;
			float: right;
		}
	}
	svg {
		width: 10rem;
		@include respond-to(960/16) {
			float: left;
		}
	}
	li {
		display: inline;
	}
	a {
		padding: {
				left: .5rem;
				right: .5rem;
		}
		@extend %link;
		@extend %accent-font;
		&:active {
			color: $color-main;
			@include user-select(none);
			@include border-radius(2)
		}
		@include respond-to(960/16) {
			font-size: .75em;
			&:hover {
				color: $color-main;
			};
		}
	}
}