@import 'application/objects/navigation';

header {
	margin-bottom: .5rem;
	@extend %clearfix; /* floated elements inside header */
	@include respond-to (641/16) {
			padding: 1rem 0;
	}
	div {
		text-align: center;
		@extend %container;
		@extend %clearfix;
		@include respond-to(960/16) {
			text-align: left;
		}
	}
	nav {
		padding: .5rem 0;
	}
	svg {
		width: 12rem;
		height: 5rem;
	}
	li {
		display: inline;
	}
	a {
		@extend %menu-item;
		font-size: .85rem;
		font-weight: normal;
	}
}