// Typography and text colors

body {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 1rem;
		font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #E33585;
  }
	
// Input and button elements do not inherit styles from body element