@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius + px;
	-moz-border-radius: $radius + px;
	-ms-border-radius: $radius + px;
	-o-border-radius: $radius + px;
	border-radius: $radius + px;
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin user-select($value){
-webkit-webkit-user-select: $value;
-moz-webkit-user-select: $value;
-ms-webkit-user-select: $value;
-o-webkit-user-select: $value;
user-select: $value;
}

@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint + em) { @content; }
}

@mixin column-size($size){
	width: percentage($size / 100);
}
